BasedOnStyle: LLVM
Standard: Latest

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
PointerAlignment: Left
DerivePointerAlignment: false
BinPackArguments: true
BinPackParameters: true

# Breaks
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakConstructorInitializers: AfterColon
BreakBeforeConceptDeclarations: true
BreakInheritanceList: BeforeColon
BreakBeforeTernaryOperators: false
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
BreakBeforeBraces: Custom

# Spaces/Tabs
SpacesBeforeTrailingComments: 2
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentRequires: true
ColumnLimit: 80
LambdaBodyIndentation: OuterScope

# Spaces
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Constructors
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# AllowShortOnASingleLine
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AllowShortEnumsOnASingleLine: false

# Penalties
PenaltyExcessCharacter: 0
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 0
PenaltyBreakAssignment: 1000

# Other
RemoveParentheses: Leave
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: true
Cpp11BracedListStyle: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        -1
  - Regex:           '^<.*'
    Priority:        -2
  - Regex:           '^".*\.h"'
    Priority:        1
  - Regex:           '^".*'
    Priority:        2
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ReflowComments: true
SortIncludes: true
